
*{
    margin: 0;
    padding: 0;
}

.navbar{
    background: url("./img/landing_bg.jpg");
    color: #095d7e;
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    border-bottom: solid rgb(180, 180, 180) 3px;
}
.nav-links-box{
    color: #095d7e;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    width:50%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav-link{
    text-decoration: none;
    color: #095d7e;
}

/*HOMEPAGE CSS HERE*/

.homepage{
    background: url("./img/landing_bg.jpg");
    background-size:cover;
    height: 90vh;
    color :#095d7e;
}

.foryou{
    width: 60vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-weight: 700;
    font-size: 10vh;
    padding: 5vw;
}

.search{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    height: 7vh;
    width: 30vw;
    background-color: #fcf8f83a;
    color: #095d7e;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 5px;
    border: solid #095d7e;
}
.search-bar:focus{
    outline: none;
}

.submit{
    height: 7vh;
    width: 7vw;
    margin: 10px;
    background: #14967f;
    color: #ccecee;
    border-radius: 20px;
    padding: 5px;
    border: solid #095d7e;
    font-size: larger;
    font-weight: 600;
}
.submit:hover{
    cursor:pointer;
}
.submit:focus{
    .generic-name{
        visibility: visible;
    }
}

.generic-name{
    height: 7vh;
    width: fit-content;
    font-size: 1.5rem;
    padding: 5px;
    border: solid #095d7e;
    border-radius: 20px;
    margin-top: 10px;
    color: #727070e4;
}


/*FOODS PAGE CSS HERE*/
.chatpage{
    background: url("./img/chatpg.jpg");
    background-size: cover;
    height: 90vh;
    color : #095d7e;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.chatbot-text{
    font-size: 3rem;
}
.resp-box{
    width: 60vw;
    height: 50vh;
    margin-top: 10px;
    border: solid #095d7e 2px;
    overflow-y: scroll;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    background-color: rgba(128, 128, 128, 0.486);
}
.text-area{
    background-color: #ccecee;
    color: #095d7e;
    font-size: 1.5rem;
    border-radius: 10px;
    border: solid #095d7e 2px;
    padding: 5px;
}
.ask-btn{
    margin-top: 5vh;
    height: 5vh;
    width: 10vw;
    background-color: #095d7e;
    color: #ccecee;
    border-radius: 15px;
}



/* ABOUT PAGE CSS HERE */
.foodspage{
    background: url("./img/foodbg.jpg");
    background-size: cover;
    height: 90vh;
    color :#095d7e;
}
.foodinfo{
    /* position: absolute; */

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vw;
    margin: auto;
    align-items: center;
    padding: 10vh;
}
.foodname-box{
    width: 20vw;
    height: 5vh;
    border-radius: 15px;
    padding: 10px;
    font-family: "Kanit", sans-serif;
    font-size: 1.5rem;
}

.find-btn{
    margin-top: 10px;
    height: 5vh;
    width: 5vw;
    border-radius: 10px;
}

.nutrient-list{
    overflow-y: scroll;
    height: 20vh;
    scrollbar-track-color: #095d7e;
    font-size: 1.5rem;
    
}


/* CONTACT PAGE CSS HERE */
.contactpage{
    background: linear-gradient(to left,#ccecee, #f1f9ff);
    height: 90vh;
    color : #095d7e;
}

