
*{
    margin: 0;
    padding: 0;
}

.navbar{
    background: url("./img/landing_bg.jpg");
    color: #095d7e;
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    border-bottom: solid gray 3px;
}
.nav-links-box{
    color: #095d7e;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    width:50%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav-link{
    text-decoration: none;
    color: #095d7e;
}

.ham-icon{
    display: none;
}


/*HOMEPAGE CSS HERE*/

.homepage{
    background: url("./img/landing_bg.jpg");
    background-size:cover;
    height: 89.5vh;
    color :#095d7e;
}

.foryou{
    width: 60vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-weight: 700;
    font-size: 10vh;
    padding: 5vw;
}

.search{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    height: 7vh;
    width: 30vw;
    background-color: #fcf8f83a;
    color: #095d7e;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 5px;
    border: solid #095d7e;
}
.search-bar:focus{
    outline: none;
}

.submit{
    height: 7vh;
    width: 9vw; 
    margin: 10px;
    background: #14967f;
    color: #ccecee;
    border-radius: 20px;
    padding: 5px;
    border: solid #095d7e;
    font-size: larger;
    font-weight: 600;
}
.submit:hover{
    cursor:pointer;
}

.generic-name{
    height: 7vh;
    width: fit-content;
    font-size: 1.5rem;
    padding: 5px;
    border: solid #095d7e;
    border-radius: 20px;
    margin-top: 10px;
    color: #095d7e;
}


/*FOODS PAGE CSS HERE*/
.chatpage{
    background: linear-gradient(to right, rgb(209, 197, 197), rgb(187, 180, 180));
    background-size: cover;
    height: 89.5vh;
    color : #095d7e;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.chatbot-text{
    font-size: 3rem;
}
.resp-box{
    width: 60vw;
    height: 50vh;
    margin-top: 10px;
    border: solid #095d7e 2px;
    overflow-y: scroll;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    background-color: rgba(128, 128, 128, 0.847);
    scrollbar-width: thin;
    scrollbar-color: gray;

}
.text-area{
    background-color: #ccecee;
    color: #095d7e;
    font-size: 1.5rem;
    border-radius: 10px;
    border: solid #095d7e 2px;
    padding: 5px;
}
.ask-btn{
    margin-top: 5vh;
    height: 5vh;
    width: 10vw;
    background-color: #095d7e;
    color: #ccecee;
    border-radius: 15px;
}



/* ABOUT PAGE CSS HERE */
.foodspage{
    background: url("./img/foodbg.jpg");
    background-size: cover;
    height: 89.5vh;
    color :#095d7e;
}
.food-text{
    font-family: "Kanit", sans-serif;
    padding: 10px;
}
.foodinfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vw;
    margin: auto;
    align-items: center;
    padding: 10vh;

}
.foodname-box{
    width: 20vw;
    height: 5vh;
    border-radius: 15px;
    padding: 10px;
    font-family: "Kanit", sans-serif;
    font-size: 1.5rem;
}

.find-btn{
    margin-top: 10px;
    height: 5vh;
    width: 5vw;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nutrient-list{
    overflow-y: scroll;
    height: 20vh;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    border: solid gray 2px;
    border-radius: 5px;
    padding: 5px;
}


/* CONTACT PAGE CSS HERE */
.contactpage{
    background: linear-gradient(to left,#ccecee, #f1f9ff);
    height: 90vh;
    color : #095d7e;
}

/*MAKING SITE RESPONSIVE*/

@media (max-width: 700px) {
    .nav-links-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
        width: 40vw;
        background: #095d7e;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 99;
        font-size: 1.5rem;
        transform: translateX(-0%);
        transition: transform 0.3s ease-in-out;
    }
    .nav-link{
        /* display: none; */
        color: #ccecee;
    }
    .ham-icon{
        display: block;
        margin: 0;
        padding: 0;
    }
    .ham-icon:hover{
        cursor: pointer;
    }


    /*HOME PAGE*/

    .foryou{
        width: 60vw;
        font-family: "Edu VIC WA NT Beginner", cursive;
        font-weight: 700;
        font-size: 7vh;
        padding-top: 15vw;
        padding-bottom: 20vw;
    }
    .search{
        width: 60vw;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .search-bar{
        width: max-content;
    }
    .submit{
        width: 25vw;
    }
    .generic-name{
        height: 5vh;
        width: max-content;
    }
    /*CHAT PAGE*/
    .chatpage{
        width: 100vw;
        display: flex;
    }
    .text-area{
        width: 80vw;
        text-overflow: clip;
    }
    .resp-box{
        height: 20vh;
        border-radius: 15px;
    }
    .ask-btn{
        width: 30vw;
    }

    /*FOOD PAGE*/
    .foodinfo{
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
        margin: auto;
    }
    .food-text{
        font-family: "Kanit", sans-serif;
        width: 40vw;
        padding: 20px;
    }
    .foodname-box{
        width: 40vw;
    }
    .nutrient-list{
        font-family: "Kanit", sans-serif;
    }
    .find-btn{
        width: 15vw;
    }
    
}
