
*{
    margin: 0;
    padding: 0;
}

.navbar{
    background: #095d7e;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    
    border-bottom: solid white 3px;
    /* position:sticky; */
    /* top: -1; */
}
.nav-links-box{
    color: #e2fcd6;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    width:50%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav-link{
    text-decoration: none;
    color: #e2fcd6;
}

/*HOMEPAGE CSS HERE*/

.homepage{
    background: #14967f;
    height: 90vh;
    color :#e2fcd6;
    /* padding: 5vw; */
}

.foryou{
    width: 60vw;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-weight: 700;
    font-size: 10vh;
    padding: 5vw;
}

.search{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    height: 7vh;
    width: 40vw;
    background-color: #fcf8f86c;
    color: #e2fcd6;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 5px;
    border: solid #e2fcd6;
}
.search-bar:focus{
    outline: none;
    background-color: #e2fcd6;
}
.search-bar:hover{
    background-color: #095d7e;

}
.submit{
    height: 7vh;
    width: 7vw;
    margin: 10px;
    background: #095d7e;
    color: #e2fcd6;
    border-radius: 20px;
    padding: 5px;
    border: solid pink;
    font-size: larger;
    font-weight: 600;
}
.submit:hover{
    cursor:pointer;
}

/*FOODS PAGE CSS HERE*/
.foodspage{
    background: #14967f;
    height: 90vh;
    color :white;
}



/* ABOUT PAGE CSS HERE */
.aboutpage{
    background: #14967f;
    height: 90vh;
    color :white;
}




/* CONTACT PAGE CSS HERE */
.contactpage{
    background: #658147;
    height: 90vh;
    color :white;
}

